/* montserrat-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/montserrat-v30-latin-regular.woff2') format('woff2');
}

/* montserrat-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/montserrat-v30-latin-600.woff2') format('woff2');
}

/* montserrat-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/montserrat-v30-latin-700.woff2') format('woff2');
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #0a1720;
  font-family: 'Montserrat'; 
}

main, html {
  min-height: calc(100vh - 180px);
}

.header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background-color: #10242d;
  height: 100px;
  width: auto;
  position: sticky;
  display: flex;
  align-items: center;
}

.logoContainer {
  width: 100%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  height: 32px;
  padding-left: 56px;
}

.spacingArea {
  height: 100px;
}

h1 {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  color: white;
  padding-bottom: 80px;
}

h2 {
  font-size: 22px;
  font-weight: 600;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 50px;
}

p {
  font-size: 16px;
  font-weight: 400;
  color: #42555c;
  padding-bottom: 20px;
}

#imagesArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 380px);
}

.displayImageContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* Standard: 1 Spalte auf kleinen Geräten. Wird größer in mobile.css definiert. */
  gap: 56px;
  max-width: 100%;
  margin: 0 auto;
}

.imageStyle {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 16px;
  cursor: pointer;
  transition: box-shadow 0.25s ease;
}

.imageStyle:hover {
  box-shadow: 10px 10px 14px #40565fa4;
}

#dialogOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #3b5058a0;
  display: none;
  z-index: 99;
}

.dialog {
  all: unset;
  height: 570px;
  width: 650px;
  border: none;
  border-style: none;
  border-radius: 16px;
  background-color: #0a1720;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  z-index: 100;
}

.subheadline {
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
}

.showDialogImage {
  margin-left: 50px;
  margin-right: 50px;
  object-fit: cover;
  height: 330px;
  width: 550px;
  border-radius: 16px;
  margin-bottom: 50px;
}

.dialogFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.iconBarLeft {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding-left: 42px;
  padding-bottom: 60px;
}

.iconBarRight {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 50px;
  padding-bottom: 60px;
}

.icon {
  margin-left: 8px;
}

.icon:hover {
  cursor: pointer;
  opacity: 70%;
}

.dNone {
  display: none;
}

.mainFooter {
  background-color: #10242d;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.footerText {
  font-size: 16px;
  font-weight: 400;
  color: #42555c;
}